# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/

# Database
db.sqlite3*
*.sqlite3*

# Media (optional for now)
media/

# Mac
.DS_Store

# Static files collected
staticfiles/

# Env variables
.env
# Media heavy files (videos)
static/video/*.mp4
static/videos/*.mp4
*.mp4